
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Color btn-primary
$color-btn-primary : #1ab394;

// Color input select2
$border-color-select2 : #ced4da;
$color-select2 : #6f6b6b;

// Color background form
$color-backg-form : #eee;

$custom-file-text: (
  en: "Browse",
  es: "Elegir"
);