.form-wrapper {
    background-color: #eee;
    padding: 20px;
}

/* boton para publicar article */
@media (max-width: 540px) {
    .submit{
        float: none;
        width: 100%;
    }
}

.select2-selection--single{
    height: 36px!important;
    border: 1px solid #ced4da!important;
}

.select2-selection__rendered, .select2-selection__placeholder, .custom-file-label {
    color: #4f4b4bcc!important;
}

.select2-container .select2-selection--single .select2-selection__rendered{
    padding-top: 4px;
}

.select2-arrow, .select2-chosen {
    padding-top: 6px;
}